.container {
    display: flex;
    padding: 1rem;
    background: #d3d3d3;
    margin-top: 2rem;
    width: 50%;
    align-items: center;
}



@media screen and (max-width: 900px) {
    .container {
        width: 80%;
    }
}